<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Offre</title>
    </head>
	<body>
		<header>
			<nav>
                <a href="/">Accueil</a>
                <a href="/offres">Offres</a>
			</nav>
		</header>
		<main>
			<h1>Bienvenue sur la page d'offres</h1>
		</main>
	</body>
	</html>